﻿<!DOCTYPE html>
<html ng-app="SISRetrospectives">
<head>
    <title>index</title>

    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="lib/jqueri-ui/themes/ui-darkness/theme.css" rel="stylesheet" />
    <link href="lib/jqueri-ui/themes/ui-darkness/jquery-ui.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/jqueri-ui/jquery-ui.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/FeedbackService.js"></script>
    <script src="js/RetrospectiveService.js"></script>
    <script src="js/SISRetrospectiveController.js"></script>
    <script>

        $(function () {

            $(".jqDate").datepicker();

        });

    </script>


</head>
<body ng-controller="SISRetrospectiveController">
    {{error}}
    <table id="Retros" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Date</th>
                <th>Participants</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="retro in retros">
                <td>{{retro.id}}</td>
                <td>{{retro.name}}</td>
                <td>{{retro.summary}}</td>
                <td>{{retro.date | date:'dd/MM/yyyy'}}</td>
                <td>
                    <table>
                        <tr ng-repeat="participant in retro.participants">
                            <td>
                                {{participant}}
                            </td>

                        </tr>

                    </table>

                </td>
                <td>
                    <input type="button" ng-click="showFeedback(retro.id)" value="Add Feedback" class="btn btn-default" />
                </td>
            </tr>
        </tbody>
    </table>
    <input class="btn btn-default" type="button" value="Add Retrospective" ng-show="newFeedback.retrospectiveId" ng-click="showRetrospective()" />
    <form novalidate name="newRetroForm" ng-submit="addRetro()" ng-hide="newFeedback.retrospectiveId">
        <h2>Add New Retrospective</h2>
        
        <div class="form-group">
            <label for="name">Retrospective Name</label>
            <input class="form-control" type="text" name="name" ng-model="newRetrospective.name" id="name" required ng-minlength="5" />
            <label for="Summary"> Retrospective Summary</label>
            <textarea class="form-control" rows="3" name="summary" ng-model="newRetrospective.summary" id="summary"></textarea>
            <label for="date">Retrospective Date</label>
            <input class="form-control jqDate" type="text" name="date" ng-model="newRetrospective.date" id="date" required />
            <label for="Participants">Participants </label>
            <input  ng-repeat="Participant in newRetrospective.Participants track by $index" type='text' ng-model='newRetrospective.Participants[$index]'  />
            <input type="button" class="btn btn-default" ng-click="addParticpant()" value="Add Participant"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Retrospective" class="btn btn-success" ng-disabled="newRetroForm.$invalid" />
        </div>
    </form>
    <form novalidate name="newFeedbackForm" ng-submit="addFeedback()" ng-show="newFeedback.retrospectiveId">
        <h2>Add New Feedback</h2>
        <div class="form-group">
            <label for="retrospectiveId">Retrospective Id</label>
            <input class="form-control" type="text" name="retrospectiveId" ng-model="newFeedback.retrospectiveId" id="retrospectiveId" required ng-disabled="true"/>

            <label for="FeedbackProvider">FeedbackProvider</label>
            <input class="form-control" type="text" name="feedbackProvider" ng-model="newFeedback.feedbackProvider" id="FeedbackProvider" />

            <label  for="feedbackType">Type</label>
            <input class="form-control" type="text" name="feedbackType" ng-model="newFeedback.feedbackType" id="feedbackType" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Feeback" class="btn btn-success" ng-disabled="newFeedbackForm.$invalid" />

        </div>
    </form>
</body>
</html>